$white: #FFF;
$whiteFF: #FFFFFF;
$whiteF6: #F6F6F6;
$black: #364844;
$green: #1FA181;
$green0D: #0DBC91;
$green9F: #00D29F;
$green4F: #08664F;
$greenEF: #E2F0EF;
$green1F: #1FA181;
$grey: #868686;
$greyF8: #F8FBFA;

